<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/services.css" />
  </head>
  <body>
    <navbar>
      <h2>DoorToDoor</h2>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">SERVICES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">LOGIN/SIGNUP</a></li>
      </ul>
    </navbar>

    <div class="links">
      <ul>
        <li><a href="#electricians">Electrician</a></li>
        <li><a href="#plumbers">Plumber</a></li>
        <li><a>Salon</a></li>
        <li><a href="#carpenters">Carpenter</a></li>
        <li><a>Pest Control</a></li>
        <li><a>Painting</a></li>
        <li><a>Repair</a></li>
        <li><a>Cleaning</a></li>
      </ul>
    </div>
    <section class="display" id="electricians">
      <div class="heading">
        <h2>Electricians</h2>
        <input
          type="text"
          name="pincode"
          id="pincode"
          placeholder="Enter Pincode"
        />
      </div>
      <div class="results">
        <div class="heading"></div>
        <div class="cards">
          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="display" id="plumbers">
      <div class="heading">
        <h2>Plumbers</h2>
        <input
          type="text"
          name="pincode"
          id="pincode"
          placeholder="Enter Pincode"
        />
      </div>
      <div class="results">
        <div class="heading"></div>
        <div class="cards">
          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="display" id="carpenters">
      <div class="heading">
        <h2>Carpenter</h2>
        <input
          type="text"
          name="pincode"
          id="pincode"
          placeholder="Enter Pincode"
        />
      </div>
      <div class="results">
        <div class="heading"></div>
        <div class="cards">
          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>

          <article class="card">
            <div class="image"></div>
            <div class="content">
              <div class="info">
                <h2>Akash Khatri</h2>
                <p>Mumbai, Maharashtra</p>
                <p>4.8</p>
                <p>Experience:- 2years</p>
              </div>
              <div class="speciality">
                <h3>Specializes in:-</h3>
                <p>Pipe fitting</p>
                <p>Water Leakage</p>
                <button>Book Appointment</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>
