<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/providerHome/providerHome.css" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navbar">
      <div class="logo">
        <h2>DoorToDoor</h2>
      </div>

      <div class="links">
        <ul>
          <li><a href=""> HOME</a></li>
          <li><a href="/services/Electrician">SERVICES</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        </ul>
      </div>
    </nav>
    <div class="left">
      <div class="user">
      
        </div>
      </div>
    </div>
    <main>
      <div class="right">
        <div class="content">
          <div class="heading">
            <h2>APPOINTMENTS</h2>
          </div>
          <div class="cards">
            
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
